{{yield}}

<li class="collection-item avatar">

  {{#if isAdded}}
    <i class="material-icons circle green">add</i>
  {{/if}}
  {{#if isEdited}}
    <i class="material-icons circle yellow">mode comment</i>
  {{/if}}
  {{#if isDeleted}}
    <i class="material-icons circle red">delete</i>
  {{/if}}  

  <span class="title">
    {{#if activity.blog}}
      {{items/blog-item item=activity.blog}}
    {{/if}}
    {{#if activity.recipe}}
      {{items/recipe-item item=activity.recipe}}
    {{/if}}
    {{#if activity.review}}
      {{items/review-item item=activity.review}}
    {{/if}}
  </span>

  <p>{{ago activity.created_at}} <br>
     {{activity.user.name}} <br>
  </p>
</li>