{{yield}}

<li class="collection-item avatar">
  <i class="material-icons circle green">{{actionIcon}}</i>
  <span class="title">
    {{#if item.deleted}}
      <span class='deleted-activity-item'>
        {{ item.name }}
      </span>
    {{else}}
      {{#link-to 'blogs.edit' item}} {{ item.name }} {{/link-to}} 
    {{/if}}
  </span>
  <p>{{ago activity.created_at}} <br>
     {{activity.user.name}} <br>
  </p>
</li>