{{yield}}

<li class="collection-item avatar">

  {{#if isAdded}}
    <i class="material-icons circle green">add</i>
  {{/if}}
  {{#if isEdited}}
    <i class="material-icons circle yellow">mode comment</i>
  {{/if}}
  {{#if isDeleted}}
    <i class="material-icons circle red">delete</i>
  {{/if}}  

  <span class="title">
    {{#if item.deleted}}
      <span class='deleted-activity-item'>
        Blog | {{ item.name }}
      </span>
    {{else}}
      {{#link-to 'blogs.edit' item}} Blog | {{ item.name }} {{/link-to}} 
    {{/if}}
  </span>

  <p>{{ago activity.created_at}} <br>
     {{activity.user.name}} <br>
  </p>
</li>